.dockerignore
.editorconfig
LICENSE
README.md
.github
.gitignore
.gitattributes
.git/hooks
.git/info
.git/modules
.git/objects
.git/refs
.vs*
cfg
data
tmp
SQL
*.lk
*.log
tgui/node_modules
tgui/.yarn/cache
tgui/.yarn/unplugged
tgui/.yarn/webpack
tgui/.yarn/install-state.gz
tgui/.yarn/install-target
tgui/.pnp.*
tools/bootstrap/.cache
tgmc.dmb
tgmc.int
tgmc.rsc
tgmc.dyn.rsc
*.dll
Dockerfile
