.dockerignore
.editorconfig
GPLv3.txt
LICENSE
README.md
.github
.gitignore
.gitattributes
.git/hooks
.git/info
.git/modules
.git/objects
.git/refs
.vs*
cfg
data
SQL
tgui/node_modules
tgui/.yarn/cache
tgui/.yarn/unplugged
tgui/.yarn/install-state.gz
tgui/.yarn/install-target
tgui/.pnp.*
tools/bootstrap/.cache
tgmc.dmb
tgmc.int
tgmc.rsc
tgmc.lk
tgmc.dyn.rsc
*.dll
appveyor.yml
Dockerfile
